# https://releases.llvm.org/11.0.1/tools/clang/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM

---
Language: Proto
BasedOnStyle: Google
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlignConsecutiveDeclarations: true
ColumnLimit: 200
